<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>About this page</h1>

    <%= image_tag "peonies.jpg", width: '300', height: '200' %>
    

  </body>
</html>
